<h1>Editing pile</h1>

<% form_for @pile, :url => [@owner, @pile] do |f| %>
	<%= f.error_messages %>
	
	<%= f.text_field :name %>
	
	<p>
		<%= f.submit 'Update' %>
	</p>
<% end %>

<%= link_to 'Show', [@owner, @pile] %> |
<%= link_to 'Back', [@owner, :piles] %>
