<div class="pile" oc:nodesUrl="<%=nodes_path(@base_node)%>">
	<h3 class="name" style="display: inline-block;"><%= @pile_owner.name.present? ? @pile_owner.name : @pile_owner.login %>'s Pile</h3>
	<div class="body" style="display: inline-block"></div>
	
	<%= render :partial => 'nodes/item_list', :locals => {:item => @base_node} -%>
	
	<%= render :partial => 'nodes/new_bar' %>
	<%= render :partial => 'nodes/action_bar' %>
</div>