<div id="<%= dom_id(@base_node, 'item_for') %>" class="<%= dom_class(@base_node, 'item_for') %> pile" oc:nodesUrl="<%=nodes_path(@base_node)%>">
	<h1 class="name"><%= @pile_owner.name.present? ? @pile_owner.name : @pile_owner.login %>'s Pile</h1>
	<div class="body">
		<%= render :partial => 'nodes/action_stub' %>
	</div>
	
	<%= render :partial => 'nodes/item_list', :locals => {:item => @base_node} -%>
	
	<%= render :partial => 'nodes/new_bar' %>
	<%= render :partial => 'nodes/action_bar' %>
</div>