<div id="scope-panel" class="right panel" <% if cookies['scope-panel.width'] %>style="width: <%=cookies['scope-panel.width']%>px"<% end %>>
	<div class="back">
		<div class="shadow"></div>
	</div>
	<a href="#" class="ui-resizable-handle ui-resizable-w toggle"></a>
	<div class="cont">
		
		<div id="scope-list">
			<h1 class="header">Piles</h1>
			
			<div class="scope name <%= 'base' if @pile == @owner.root_pile %>">
				<span class="sym"><%# ∴ %>&there4;</span>
				<%- if @pile == @owner.root_pile -%>
					<span><%=h @owner.login%></span>
				<%- else -%>
					<%= link_to h(@owner.login), [@owner, @owner.root_pile] %>
				<%- end -%>
			</div>
			
			<ul>
				<%= render_subscoped :partial => 'list_scopes', :locals => { :pile => @owner.root_pile, :expand_to => lambda {|p| p == @pile || @pile.ancestors.include?(p) }, :base_scope => @pile }, :subscope => subscope_of(@pile) %>
			</ul>
		</div>
		
	</div>
</div>

<div id="main-area" class="left" <% if cookies['scope-panel.width'] %>style="margin-right: <%=cookies['scope-panel.width']%>px"<% end %>><% @skip_main_area_wrap = true %>
	<div class="cont">
		<%= render_subscoped :partial => 'base', :subscope => subscope_of(@pile) %>
	</div>
</div>
