<section id="<%=dom_id(@pile.root_node, 'item_for')%>" class="<%=dom_class(@pile.root_node, 'item_for')%> pile" oc:nodes-url="<%=path_for([@owner, @pile, :nodes])%>">
	<h1 class="name"><%= @pile.name %></h1>
	<div class="body">
		<%= render :partial => 'nodes/action_stub' %>
	</div>
	
	<ul class="node list">
		<%= render :partial => 'nodes/list_items', :locals => {:item => @pile.root_node} -%>
		<%= render :partial => 'nodes/new_bar' %>
	</ul>
	
	<%= render :partial => 'nodes/action_bar' %>
</section>