<div class="<%=cell.state_name%> body" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
	<%= render :partial => 'nodes/action_stub' %>
	<%= @content_for_layout %>
	<% unless @check.nil? %>
		<div class="sub-line">
			<%= render_cell cell_for_node(@check), :show, :node => @check, :body => false %>
		</div>
	<% end %>
	<% unless @priority.nil? %>
		<div class="sub-line">
			<%= render_cell cell_for_node(@priority), :show, :node => @priority, :body => false unless @priority.nil? %>
		</div>
	<% end %>
	<% unless @time.nil? %>
		<div class="sub-line">
			<%= render_cell cell_for_node(@time), :show, :node => @time, :body => false unless @time.nil? %>
		</div>
	<% end %>
	<% unless @tags.nil? %>
		<div class="sub-line">
			<%- for tag in @tags -%>
				<%= render_cell cell_for_node(tag), :show, :node => tag, :body => false %>
			<%- end unless @tags.nil? -%>
		</div>
	<% end %>
</div>
