<div class="<%=cell.state_name%> body" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
	<%- form_for @node, :url => polymorphic_path([@node.pile.owner, @node.pile, @node]), :html => {:method => 'put'} do |node_form| -%>
		<div class="cont">
			
			<%= @content_for_layout %>
			
			<div class="sub-line">
				<%= render_cell cell_for_node(@check), :edit, :node => @check, :body => false unless @check.nil? %>
			</div>
			<div class="sub-line">
				<%= render_cell cell_for_node(@priority), :edit, :node => @priority, :body => false unless @priority.nil? %>
			</div>
			<div class="sub-line">
				<%= render_cell cell_for_node(@time), :edit, :node => @time, :body => false unless @time.nil? %>
			</div>
			<div class="sub-line">
				<%- for tag in @tags -%>
					<%= render_cell cell_for_node(tag), :edit, :node => tag, :body => false %>
				<%- end unless @tags.nil? -%>
			</div>
			
			<%# ✓ %><%= node_form.submit '&#10003;' %>
			
		</div>
	<%- end -%>
</div>
