<% content_tag_for :li, @node, 'item_for', :class => dom_class(@node, 'item_for'), :'oc:url' => path_for([@node.pile.owner, @node.pile, @node]) do -%>
	<section id="<%= dom_id(@node.prop.ref_pile.root_node, 'item_for') %>" class="<%= dom_class(@node.prop.ref_pile.root_node, 'item_for') %> pile" oc:nodes-url="<%=polymorphic_path([@node.prop.ref_pile.owner, @node.prop.ref_pile, :nodes])%>">
		<div class="body"><%# onclick, for MobileSafari, with Love -%>
			<%= render :partial => 'nodes/action_stub' %>
			<%= @content_for_layout %>
		</div>
		<ul class="node list">
			<%= render :partial => 'nodes/list_items', :locals => {:item => @node.prop.ref_pile.root_node} %>
		</ul>
	</section>
<% end -%>
