<% content_tag_for :li, @node, 'item_for', :class => dom_class(@node, 'item_for'), :'oc:url' => node_path(@node), :onclick => 'void(0)' do -%><%# For MobileSafari with Love -%>
	<section id="<%= dom_id(@node.prop.ref_pile.root_node, 'item_for') %>" class="<%= dom_class(@node.prop.ref_pile.root_node, 'item_for') %> pile" oc:nodes-url="<%=nodes_path(@node.prop.ref_pile.root_node)%>">
		<div class="body">
			<%= render :partial => 'nodes/action_stub' %>
			<%= @content_for_layout %>
		</div>
		<ul class="node list">
			<%= render :partial => 'nodes/list_items', :locals => {:item => @node.prop.ref_pile.root_node} %>
		</ul>
	</section>
<% end -%>
