<%= render_cell cell_for_node(@check), :show_badge, :node => @check unless @check.nil? %>
<%= render_cell cell_for_node(@priority), :show_badge, :node => @priority unless @priority.nil? %>
<div class="show text prop">
	<%= h @node.prop.text %>
</div>
<div class="sub-line">
	<%= render_cell cell_for_node(@time), :show_badge, :node => @time unless @time.nil? %>
	<%- for tag in @tags -%>
		<%= render_cell cell_for_node(tag), :show_badge, :node => tag %>
	<%- end unless @tags.nil? || !(@tags.size > 1) -%>
</div>
