<div class="edit priority prop <%= 'badge' if node.prop.badged? -%>">
	<%- form.fields_for :prop do |prop_form| -%>
		1<%= prop_form.radio_button :priority, '1', :class => 'field' %>
		2<%= prop_form.radio_button :priority, '2', :class => 'field' %>
		3<%= prop_form.radio_button :priority, '3', :class => 'field' %>
		4<%= prop_form.radio_button :priority, '4', :class => 'field' %>
		5<%= prop_form.radio_button :priority, '5', :class => 'field' %>
	<%- end -%>
</div>
