<div id="<%= dom_id(item, 'item-action_for') %>" class="<%= "#{dom_class(item, 'item-action_for')} item-action_for" %> action bar">
	
	<div class="widget-wrap">
		<div class="action widget collapsed">
			<span class="sym"><%# ► %><%= link_to_function '&#9658;', "expandActionBar('#{item.id}');" %></span>
		</div>
		<div class="action widget expanded initially-hidden">
			<span class="sym"><%# ◄ %><%= link_to_function '&#9668;', "collapseActionBar('#{item.id}');" %></span>
		</div>
	</div>
	
	<div class="buttons-wrap">
		<div class="action buttons shadowable initially-hidden">
			<div class="shadow"></div>
			
			<span class="sym"><%# ✚ %><%= link_to_function '&#10010;', "toggleItemNewBar('#{item.id}');" %></span>
			
			<% unless item.parent.nil? || item.parent.root? %>
				<span class="sym"><%# ◄ %><%= link_to_remote '&#9668;',		:url => "#{node_path(item)}/move?dir=out",	:method => 'put'	%></span>
			<% end %>
			<% unless item.left_sibling.nil? %>
				<span class="sym"><%# ▲ %><%= link_to_remote '&#9650;',		:url => "#{node_path(item)}/move?dir=up",	:method => 'put'	%></span>
			<% end %>
			<% unless item.right_sibling.nil? %>
				<span class="sym"><%# ▼ %><%= link_to_remote '&#9660;',		:url => "#{node_path(item)}/move?dir=down",	:method => 'put'	%></span>
			<% end %>
			<% unless item.left_sibling.nil? %>
				<span class="sym"><%# ► %><%= link_to_remote '&#9658;',		:url => "#{node_path(item)}/move?dir=in",	:method => 'put'	%></span>
			<% end %>
			
			<% unless item.root? %>
				<span class="sym"><%# ✖ %><%= link_to_remote '&#10006;',	:url => node_path(item),					:method => 'delete'	%></span>
			<% end %>
		</div>
	</div>
	
</div>