<div id="<%= dom_id(item, 'item-action_for') %>" class="<%= "#{dom_class(item, 'item-action_for')} item-action_for" %> action bar">
	
	<div class="widget-wrap">
		<div class="action widget collapsed">
			<span class="sym"><%# ► %><%= link_to_function '&#9658;', "expandActionBar('#{item.id}');" %></span>
		</div>
		<div class="action widget expanded initially-hidden">
			<span class="sym"><%# ◄ %><%= link_to_function '&#9668;', "collapseActionBar('#{item.id}');" %></span>
		</div>
	</div>
	
	<div class="buttons-wrap">
		<div class="action buttons shadowable initially-hidden">
			<div class="shadow"></div>
			
			<span class="sym"><%# ✚ %><%= link_to_function '&#10010;', "toggleItemNewBar('#{item.id}');" %></span>
			
			<span class="sym"><%# ◄ %><a href="#" class="move out">&#9668;</a></span>
			<span class="sym"><%# ▲ %><a href="#" class="move up">&#9650;</a></span>
			<span class="sym"><%# ▼ %><a href="#" class="move down">&#9660;</a></span>
			<span class="sym"><%# ► %><a href="#" class="move in">&#9658;</a></span>
			
			<span class="sym"><%# ✖ %><a href="#" class="delete">&#10006;</a></span>
		</div>
	</div>
	
</div>