<div class="edit body">
	<%- form_for node, :url => path_for([node.pile.owner, node.pile, node]), :html => {:method => 'put'} do |node_form| -%>
		<div class="cont">
			
			<div class="line"><%= render :partial => prop_partial(node, :edit), :locals => { :node => node, :form => node_form } %></div>
			
			<%- if node.prop.class.nodeable? -%>
				<%- node.children.sort.each do |badge_node| -%><%# can't use children.badgeable here, since some of them may be unsaved %>
					<%- next unless badge_node.prop.badged? -%>
					<% node_form.fields_for 'children', badge_node do |badge_fields| %>
						<%= render :partial => 'nodes/line_for_form', :locals => { :node => badge_node, :form => badge_fields, :state => (badge_node.new_record? ? :new : :edit) } %>
					<%- end -%>
				<%- end -%>
				
				<%= render :partial => 'nodes/add_bar' %>
			<%- end -%>
			
			<div class="finish line">
				<%= button_tag '&#10006; cancel', :class => 'cancel' %>
				<%# ✓ %><%= node_form.submit '&#10003; done', :class => 'done' %>
				<%# ✚ %><%= button_tag '&#10010; another', :class => 'another' %>
			</div>
			
		</div>
	<%- end -%>
</div>
