<div class="new body">
	<%- prev_sibling_id = @prev_sibling.id if @prev_sibling -%>
	<%- form_for node, :url => polymorphic_path([node.pile.owner, node.pile, node], :'node[parent_id]' => node.parent_id, :'node[prop_type]' => node.variant, :prev_sibling_id => prev_sibling_id), :html => {:method => 'post'} do |node_form| -%>
		<div class="cont">
			
			<div class="line"><%= render :partial => prop_partial(node, :new), :locals => { :node => node, :form => node_form } %></div>
			
			<%- node_form.fields_for :prop do |prop_form| -%>
				<%- prop_form.fields_for :ref_pile do |ref_pile_form| -%>
					<%- node.prop.ref_pile.shares.each do |share| -%>
						<% ref_pile_form.fields_for :shares, share do |share_fields| %>
							<%= render :partial => 'nodes/share_line_for_form', :locals => { :share => share, :form => share_fields } %>
						<%- end -%>
					<%- end -%>
				<%- end -%>
			<%- end -%>
			
			<%= render :partial => 'nodes/add_share_bar' %>
			
			<div class="finish line">
				<div class="button-pair">
					<%# ✓ %><%= node_form.submit '&#10003; done', :class => 'done' %>
					<%# ✚ %><%= button_tag '&#10010; another', :class => 'another' %>
				</div>
				<%= button_tag '&#10006; cancel', :class => 'cancel' %>
			</div>
			
		</div>
	<%- end -%>
</div>
