<li id="<%= dom_id(item, 'item-new_for') %>" class="<%= "#{dom_class(item, 'item-new_for')} item-new_for" %> initially-hidden">
	
	<div class="widget-wrap">
		<div class="action widget expanded">
			<span class="sym"><%# ✚ %><%= link_to_function '&#10010;', "toggleItemNewBar('#{item.id}');" %></span>
		</div>
	</div>
	
	<div class="buttons-wrap">
		<div class="new buttons shadowable">
			<div class="shadow"></div>
			<%= link_to_remote "text",      :url => create_pile_node_path(item, :text) %>
			<%= link_to_remote "check",     :url => create_pile_node_path(item, :check) %>
			<%= link_to_remote "note",      :url => create_pile_node_path(item, :note) %>
			<%= link_to_remote "priority",  :url => create_pile_node_path(item, :priority) %>
			<%= link_to_remote "tag",       :url => create_pile_node_path(item, :tag) %>
			<%= link_to_remote "time",      :url => create_pile_node_path(item, :time) %>
		</div>
	</div>
	
</li>