<% button_wrapper_dom_id = dom_id(item, 'item-new') -%>
<li id="<%= button_wrapper_dom_id %>" class="<%= "#{dom_class(item)} item-new" %>" style="display: none;">
	<div class="new buttons shadowable">
		<div class="shadow"></div>
		<%= link_to_create_node self, item.id, :text, button_wrapper_dom_id %>
		<%= link_to_create_node self, item.id, :check, button_wrapper_dom_id %>
		<%= link_to_create_node self, item.id, :note, button_wrapper_dom_id %>
		<%= link_to_create_node self, item.id, :priority, button_wrapper_dom_id %>
		<%= link_to_create_node self, item.id, :tag, button_wrapper_dom_id %>
		<%= link_to_create_node self, item.id, :time, button_wrapper_dom_id %>
	</div>
</li>