<%- cache ({:node_item => child_node.id}.to_json) do -%>
	<% content_tag_for :li, item, :class => dom_class(item), :'oc:url' => path_for([item.pile.owner, item.pile, item]) do -%>
		<%- cache ({:node_section => child_node.id}.to_json) do -%>
			<section id="<%= dom_id(item.prop.ref_pile.root_node) %>" class="<%= dom_class(item.prop.ref_pile.root_node) %> pile" oc:nodes-url="<%=path_for([item.prop.ref_pile.owner, item.prop.ref_pile, :nodes])%>">
				
				<%= render :partial => 'show_body', :locals => {:node => item} %>
				
				<ul class="node list">
					<%= render :partial => 'nodes/list_items', :locals => {:item => item.prop.ref_pile.root_node} %>
				</ul>
				
			</section>
		<%- end -%>
	<% end %>
<%- end -%>
