<% content_tag_for :li, pile_ref_item, 'item_for', :class => "#{@cell_state} #{dom_class(pile_ref_item, 'item_for')}", :'oc:url' => path_for([pile_ref_item.pile.owner, pile_ref_item.pile, pile_ref_item]) do -%>
	<section id="<%= dom_id(pile_ref_item.prop.ref_pile.root_node, 'item_for') %>" class="<%= dom_class(pile_ref_item.prop.ref_pile.root_node, 'item_for') %> sub-pile" oc:nodes-url="<%=polymorphic_path([pile_ref_item.prop.ref_pile.owner, pile_ref_item.prop.ref_pile, :nodes])%>">
		
		<%= render_cell('node_body', :show, :node => pile_ref_item) %>
		
		<ul class="node list">
			<%= render :partial => 'nodes/list_items', :locals => {:item => pile_ref_item.prop.ref_pile.root_node} %>
		</ul>
		
	</section>
<% end -%>
