<div class="show body">
	<div class="bullet">
		<% if @check.present? %>
			<%= render :partial => prop_partial(@check, :show), :node => @check %>
		<% else %>
			<span class="sym">•</span>
		<% end %>
	</div>
	<%= render :partial => 'nodes/action_stub' %>
	<div class="cont" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
		<% if @priority.present? %>
			<%= render :partial => prop_partial(@priority, :show), :node => @priority %>
		<% end %>
		
		<%= render :partial => prop_partial(node, :show), :locals => {:node => node} %>
		
		<% if @time.present? %>
			<div class="line">
				<%= render :partial => prop_partial(@time, :show), :node => @time %>
			</div>
		<% end %>
		<% if @tags.present? %>
			<div class="line">
				<%- for tag in @tags -%>
					<%= render :partial => prop_partial(tag, :show), :node => tag %>
				<%- end unless @tags.nil? -%>
			</div>
		<% end %>
		<% if @note.present? %>
			<div class="line">
				<%= render :partial => prop_partial(@note, :show), :node => @note %>
			</div>
		<% end %>
	</div>
</div>
