<div id="top-bar">
	<div class="back"><div class="fill"></div></div>
	
	<div class="logo">
		<div class="graphic">
			<img alt="OrgClut" src="images/logo.orgclut.wh-tr.276x83.png"/>
		</div>
		<h1 class="text">OrgClut</h1>
	</div>
	
	<div class="content">
		<h2 class="tagline"><span class="imp">Org</span>anize your <span class="imp">Clut</span>ter.</h2>
	</div>
</div>

<div id="page">
	
	<div id="flashes">
		<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
		<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
		<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
		<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
	</div>
	
	<div id="schpiel">
		<%= render :partial => 'schpiel' %>
	</div>
	
	<div id="feature-box">
		<%= render :partial => 'feature_box' %>
	</div>
	
</div>


<div id="foot-bar">
	<div class="back"><div class="fill"></div></div>
	
	<div class="content">
		
		<div id="invite">
			<%= render :partial => 'invites/form' %>
		</div>
		
		<div id="share">
			<%= render :partial => 'share' %>
		</div>
		
		<div id="copyright">
			<%= %w{Thinkright Knowright Fathomright}.rand %>, 
			<%= %w{Birthright Createright Instantiaright}.rand %>, 
			and Copyright © 2006-<%= Time.now.strftime('%Y') %>, <a href="http://slippyd.com">Slippy Douglas</a>. All rights reserved.
		</div>
		
	</div>
</div>