<div id="top-bar">
	<div class="back"><div class="fill"></div></div>
	
	<div class="logo">
		<div class="graphic">
			<img alt="OrgClut" src="images/logo.orgclut.wh-tr.276x83.png"/>
		</div>
		<h1 class="text">OrgClut</h1>
	</div>
	
	<div class="content">
		<h2 class="tagline"><span class="imp">Org</span>anize your <span class="imp">Clut</span>ter.</h2>
	</div>
</div>

<div id="page">
	
	<div id="flashes">
		<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
		<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
		<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
		<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
	</div>
	
	<div id="schpiel">
		<h3 class="leader"><span class="sym">∴</span>The Easy, Hierarchical Way To Organize All Your Cluttered:</h3>
		<h4><ul>
			<li>thoughts</li>
			<li>ideas</li>
			<li>errands</li>
			<li>assignments</li>
			<li>projects</li>
			<li>or whatever else…</li>
		</ul></h4>
	</div>
	
	<div id="feature-box">
		
		<ul id="features">
			<li class="feature n1" onclick="void(0);">
				<div class="inner">
					<h3>Hierarchical</h3>
					<p>In OrgClut, all your notes are part of your own personal “<em>Pile</em>”, which is one giant deeply <em>nested list</em>, easily scope-able to get at the <em>information you need</em>.</p>
				</div>
			</li>
			<li class="feature n2" onclick="void(0);">
				<div class="inner">
					<h3>Flexible</h3>
					<p>OrgClut is more than just text; attach <em>check boxes</em>, <em>priorities</em>, <em>labels</em>, <em>links</em>, <em>dates/times</em>, <em>images</em>, <em>videos</em>, etc. Then <em>sort</em>, <em>filter</em>, and <em>share</em> to your liking.</p>
				</div>
			</li>
			<li class="feature n3" onclick="void(0);">
				<div class="inner">
					<h3>Convenient</h3>
					<p>OrgClut is always ready when you need it… both on <em>desktop</em> and <em>mobile</em> platform. The app features a whopping <em>zero</em> graphics, a testament to its speed.</p>
				</div>
			</li>
		</ul>
		
		<div class="screenshot">
			<img alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<div id="fill" class="initially-hidden"></div>
			<%#img class="overlay n1 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<img class="overlay n2 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/>
			<img class="overlay n3 initially-hidden" alt="[OrgClut screenshot]" src="images/screenshot.pile-view.2009-10-07.960x893.png"/%>
			<div class="footnote">Note: This screenshot is from mid-way through development; the public beta will probably look a bit different. No worries, though; we've added features since then!</div>
		</div>
		
	</div>
	
</div>


<div id="foot-bar">
	<div class="back"><div class="fill"></div></div>
	
	<div class="content">
		
		<div id="invite">
			<%= render :partial => 'invites/form' %>
		</div>
		
		<div id="share">
			<p>Or perhaps you'd like to share us with your peeps? <em class="sub">(We'd really appreciate it!)</em></p>
			<ul>
				<li class="twitter">
<script type="text/javascript">tweetmeme_url = 'http://orgclut.com'; tweetmeme_source = 'OrgClut';</script>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
				</li>
				<li class="digg">
<script type="text/javascript">digg_url = 'http://orgclut.com/about';</script>
<script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script> 
				</li>
				<li class="reddit">
<script type="text/javascript" src="http://www.reddit.com/button.js?t=2"></script>
				</li>
			</ul>
			<div class="clear"></div>
			<ul>
				<li class="facebook">
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("a9857c02365042403ff659e039a06d19");</script><fb:fan profile_id="192348439744" stream="" connections="" width="200"></fb:fan>
				</li>
				<li class="delicious">
<script type="text/javascript">
    if (typeof window.Delicious == "undefined") window.Delicious = {};
    Delicious.BLOGBADGE_DEFAULT_CLASS = 'delicious-blogbadge-tall'
    Delicious.BLOGBADGE_GRAPH_SHOW = false
    Delicious.BLOGBADGE_TAGS_SHOW = false
</script>
<script src="http://static.delicious.com/js/d2-blogbadge.js"></script>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div id="copyright">
			<%= %w{Thinkright Knowright Fathomright}.rand %>, 
			<%= %w{Birthright Createright Instantiaright}.rand %>, 
			and Copyright © 2006-<%= Time.now.strftime('%Y') %>, <a href="http://slippyd.com">Slippy Douglas</a>. All rights reserved.
		</div>
		
	</div>
</div>