<% content_tag_for :div, @pile.root_node, :class => "base root item #{current_subscope}" do -%>
	<%- cache ({:base_node_section => @pile.root_node.id, :subscope => :modifiable}.to_json) do -%>
		<section class="base pile cont" oc:nodes-url="<%=path_for([@owner, @pile, :nodes])%>">
			
			<div class="body">
				<div class="back"></div>
				
				<%= render_subscoped :partial => 'nodes/action_stub' %>
				
				<h1 class="header" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
					<% unless @pile.root? %><a href="<%=path_for [@owner, @owner.root_pile]%>" class="owner pile name link"><%= @owner.name %> <span class="sym"><%# » %>&raquo;</span></a><% end %>
					<% (@pile.ancestors.reverse - [@owner.root_pile]).each do |ancestor_pile| %>
						<a href="<%=path_for [@owner, ancestor_pile]%>" class="ancestor pile name link"><%= ancestor_pile.name %> <span class="sym"><%# » %>&raquo;</span></a>
					<% end %>
					<span class="base pile name"><%= @pile.root? ? @pile.owner.name : @pile.name %></span>
				</h1>
			</div>
			
			<ul class="item-list">
				<%= render_subscoped :partial => 'nodes/list_items', :locals => {:item => @pile.root_node} %>
			</ul>
			
			<%= render_subscoped :partial => 'nodes/action_bar' %>
			
		</section>
	<%- end -%>
<%- end -%>
