<h2>Welcome Back, <%= h @user.name %></h2>

<h3>Your Piles</h3>

<div id="scope-list">
	<div class="scope name">
		<span class="sym"><%# ∴ %>&there4;</span>
		<%= link_to h(@user.login), [@user, @root_pile] %>
	</div>
	
	<ul>
		<%= render :partial => 'piles/list_scopes', :locals => { :pile => @root_pile, :expand_to => lambda {|p| p == @root_pile } } %>
	</ul>
</div>


<h3>Recently Changed Piles</h3>

<ul>
	<% @recent_piles.each do |pile| %>
		<li>
			<div class="scope name">
				<span class="sym"><%# ∴ %>&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>


<h3>Piles Shared with You</h3>

<ul>
	<% @piles_shared_with_us.each do |pile| %>
		<li>
			<div class="scope name">
				<span class="sym"><%# ∴ %>&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>


<h3>Piles Shared by You</h3>

<ul>
	<% @piles_shared_by_us.each do |pile| %>
		<li>
			<div class="scope name">
				<span class="sym"><%# ∴ %>&there4;</span>
				<%= link_to h(pile.name), [pile.owner, pile] %>
			</div>
		</li>
	<% end %>
</ul>
