<div class="edit body" onclick="void(0)"><%# onclick, for MobileSafari, with Love -%>
	<%- form_for @node, :url => polymorphic_path([@node.pile.owner, @node.pile, @node]), :html => {:method => 'put'} do |node_form| -%>
		
		<%= render_cell(cell_for_node(@node), :edit, :node => @node, :form => node_form) %>
		
  		<% node_form.fields_for :children, @node.children.badgeable do |child_form|; child = child_form.object %>
			<div class="sub-line">
				<a href="#" class="button" onclick="return false;"><span class="sym"><%# ✖ %>&#10006;</span></a>
				<em><%= child.prop.class.short_name %></em>
				<%= render_cell cell_for_node(child), :edit, :node => child, :form => child_form %>
			</div>
		<%- end -%>
		
		<%= render :partial => 'nodes/add_bar' %>
		
		<%# ✓ %><%= node_form.submit '&#10003;' %>
		
	<%- end -%>
</div>
