<h1>Log In</h1>

<% form_for @user_session, :url => [:user_session] do |f| %>
	<%= f.error_messages %>
	
	<table>
		<tr class="line">
			<td class="prefix"><%= f.label :login, 'login' %></td>
			<td><%= f.text_field :login %></td>
		</tr>
		<tr class="line">
			<td class="prefix"><%= f.label :password, 'password' %></td>
			<td><%= f.password_field :password %></td>
		</tr>
	</table>
	
	<div class="line">
		<%= f.check_box :dont_remember_me, :value => !@user_session.remember_me %>
		<%= f.label :dont_remember_me, '<em>automatically log out</em> at the end of this browser session' %>
	</div>
	
	<%= f.submit "Login" %>
<% end %>
