<h1>Log In</h1>

<% form_for @user_session, :url => [:user_session] do |f| %>
	<%= f.error_messages %>
	
	<%= f.label :login %><br/>
	<%= f.text_field :login %><br/>
	<br/>
	
	<%= f.label :password %><br/>
	<%= f.password_field :password %><br />
	<br/>
	
	<%= f.check_box :remember_me, :value => true %><%= f.label 'Keep Me Logged In' %><br/>
	<br/>
	
	<%= f.submit "Login" %>
<% end %>
