<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= "OrgClut » #{controller.controller_name} » #{controller.action_name} #{params[:id]}" %></title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'reset', :media => 'all' %>
	<%= stylesheet_link_tag 'main', :media => 'all' %>
</head>
<body>

<div id="topbar" class="shadowable">
	<div class="bordered shadow"></div>
	
	<h1 class="logo">
		<a href="<%= url_for :action => "index", :controller => "home" %>" style="text-decoration: none; background: none; color: #fff;">OrgClut</a>
	</h1>
	
	<div class="content">
		<% if flash[:message]: %><div class="flash message"><%= flash[:message] %></div><% end %>
		<% if flash[:notice]: %><div class="flash notice"><%= flash[:notice] %></div><% end %>
		<% if flash[:warning]: %><div class="flash warning"><%= flash[:warning] %></div><% end %>
	</div>
	
	<div class="corner">
		<%= render :partial => 'users/user_bar' %>
	</div>
</div>


<div id="page">
	<%= yield  %>
</div>


</body>
</html>