<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:oc="http://orgclut.com/oc" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= "OrgClut » #{controller.controller_name} » #{controller.action_name} #{params[:id]}" %></title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<%= javascript_include_tag :defaults, 'jquery.form', :cache => true %>
	<%= stylesheet_link_tag 'reset', 'main', :media => 'all', :cache => true %>
</head>
<body>

<div id="base">
	
	<div id="fill" class="initially-hidden"></div>
	
	<div id="top-bar" class="shadowable">
		<div class="shadow n1"></div>
		<div class="shadow n2"></div>
		
		<div class="back"></div>
		
		<h1 class="logo">
			<a href="<%= logged_in? ? home_path : root_path %>" style="text-decoration: none; background: none; color: #fff;">OrgClut</a>
		</h1>
		
		<div class="content">
			<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
			<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
			<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
			<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
		</div>
		
		<div class="corner">
			<%= render :partial => 'users/user_bar' %>
		</div>
	</div>
	
	
	<div id="page">
		<%= yield  %>
	</div>
	
</div>


</body>
</html>