<!DOCTYPE html>
<html xmlns:oc="http://orgclut.com/oc" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title><%= "ClutterApp » #{controller.controller_name} » #{controller.action_name} #{params[:id]}" %></title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
	<%= stylesheet_link_tag (StylesheetsController::STATIC_STYLESHEET_NAMES + StylesheetsController::DYNAMIC_STYLESHEET_NAMES), :media => 'all' unless ActionController::Base.perform_caching %>
	<%= stylesheet_link_tag 'all', :media => 'all' if ActionController::Base.perform_caching %><%# all these are cached together by the StylesheetsController %>
	<% js_files = [
			{:src => 'jquery', :min => 'jquery.min'},
			{:src => 'jquery-ui', :min => 'jquery-ui.min'},
			{:src => 'jrails'},
			{:src => 'jquery.color'},
			{:src => 'jquery.form'},
			{:src => 'jquery.elastic', :min => 'jquery.elastic.min'},
			{:src => 'jquery.conventionalize'},
			{:src => 'util'},
			{:src => 'application'},
		] %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:src] } unless ActionController::Base.perform_caching %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:min] || file_h[:src] }, :cache => true if ActionController::Base.perform_caching %>
	<%= javascript_include_tag 'item' if @enable_item_view_js %>
</head>
<body>

<div id="base">
	
	<%= render :partial => 'shared/google_chrome_frame' if current_user %>
	
	<div id="fill" class="initially-hidden"></div>
	
	<div id="top-bar">
		<div class="back"><div class="fill"></div></div>
		
		<div class="logo">
			<a href="<%= current_user ? home_path : root_path %>" style="text-decoration: none; background: none; color: #fff;">ClutterApp</a>
		</div>
		
		<div class="content">
			<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
			<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
			<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
			<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
		</div>
		
		<div class="corner">
			<%= render :partial => 'users/user_bar' %>
		</div>
	</div>
	
	
	<div id="page">
		<%= yield %>
	</div>
	
</div>


<%= render :partial => 'shared/analytics_footer' if analytics? %>
</body>
</html>