<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:oc="http://orgclut.com/oc" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= "OrgClut » #{controller.controller_name} » #{controller.action_name} #{params[:id]}" %></title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
	<%= stylesheet_link_tag 'reset', :media => 'all', :cache => true %>
	<%= stylesheet_link_tag 'main', :media => 'all' %><%# can't cache this one, since it's dynamic %>
	<% js_files = [
			{:src => 'jquery', :min => 'jquery.min'},
			{:src => 'jquery-ui', :min => 'jquery-ui.min'},
			{:src => 'jrails'},
			{:src => 'jquery.color'},
			{:src => 'jquery.form'},
			{:src => 'jquery.elastic', :min => 'jquery.elastic.min'},
			{:src => 'application'},
		] %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:src] } unless ActionController::Base.perform_caching %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:min] || file_h[:src] }, :cache => true if ActionController::Base.perform_caching %>
</head>
<body>

<div id="base">
	
	<%= render :partial => 'layouts/google_chrome_frame' if logged_in? %>
	
	<div id="fill" class="initially-hidden"></div>
	
	<div id="top-bar">
		<div class="back"></div>
		
		<div class="logo">
			<a href="<%= logged_in? ? home_path : root_path %>" style="text-decoration: none; background: none; color: #fff;">OrgClut</a>
		</div>
		
		<div class="content">
			<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
			<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
			<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
			<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
		</div>
		
		<div class="corner">
			<%= render :partial => 'users/user_bar' %>
		</div>
	</div>
	
	
	<div id="page">
		<%= yield  %>
	</div>
	
</div>


</body>
</html>