<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	
	<% if flash[:message]: %><span class="flash message"><%= flash[:message] %></span><% end %>
	<% if flash[:notice]: %><span class="flash notice"><%= flash[:notice] %></span><% end %>
	<% if flash[:warning]: %><span class="flash warning"><%= flash[:warning] %></span><% end %>
	<% if flash[:error]: %><span class="flash error"><%= flash[:error] %></span><% end %>
	
	<%= yield %>
	
</body>
</html>
