<!DOCTYPE html>
<html xmlns:oc="http://orgclut.com/oc" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title>OrgClut: Organize Your Clutter » open-ended easy hierarchical flexible convenient information organizer web app - Coming Late 2009</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1;IE=edge"/>
	<%= stylesheet_link_tag (StylesheetsController::STATIC_STYLESHEET_NAMES + StylesheetsController::DYNAMIC_STYLESHEET_NAMES), :media => 'all' unless ActionController::Base.perform_caching %>
	<%= stylesheet_link_tag 'all', :media => 'all' if ActionController::Base.perform_caching %><%# all these are cached together by the StylesheetsController %>
	<%= stylesheet_link_tag 'front', :media => 'all' %><%# can't cache this one, since the all.css will override the StylesheetsController#all action/route %>
	<% js_files = [
			{:src => 'jquery', :min => 'jquery.min'},
			{:src => 'jquery-ui', :min => 'jquery-ui.min'},
			{:src => 'front'},
		] %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:src] } unless ActionController::Base.perform_caching %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:min] || file_h[:src] }, :cache => true if ActionController::Base.perform_caching %>
	<%= render :partial => 'shared/analytics_header' if analytics? %>
</head>
<body class="front">

<div id="base">
	
	
	<%= yield  %>
	
	
</div>


<%= render :partial => 'shared/analytics_footer' if analytics? %>
</body>
</html>
