<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:oc="http://orgclut.com/oc" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>OrgClut: open-ended hierarchical information organizer app</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
	<%= stylesheet_link_tag 'reset', :media => 'all', :cache => true %>
	<%= stylesheet_link_tag 'main', 'front', :media => 'all' %><%# can't cache these ones, since they're dynamic %>
	<% js_files = [
			{:src => 'jquery', :min => 'jquery.min'},
			{:src => 'jquery-ui', :min => 'jquery-ui.min'},
			{:src => 'front'},
		] %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:src] } unless ActionController::Base.perform_caching %>
	<%= javascript_include_tag js_files.collect{|file_h| file_h[:min] || file_h[:src] }, :cache => true if ActionController::Base.perform_caching %>
</head>
<body class="front">

<div id="base">
	
	
	<%= yield  %>
	
	
</div>


<%= render :partial => 'shared/analytics_footer' if analytics? %>
</body>
</html>